
h1{
    color : red;
}

h2{
    color : red;
}

h3{
    color : red;
}

p {
    color:black;
}

ul {
    color:green;
}
ol {
    color:orange;
}
a {
    color: blue;
    text-decoration: none;
    
}
